body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

#label {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
}